/*Help Button css Start*/

.modalDialog {
    overflow: hidden;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 80%;
    height: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.modalDialog img {
    width: 80%;
    max-width: 900px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 34px;
    position: absolute;
    right: -22px;
    text-align: center;
    top: -20px;
    width: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.help-button {
    height: 65px;
    width: 65px;
    border-radius: 65px;
    bottom: 25px;
    right: 25px;
    position: fixed;
    background-color: #006d84;
    border: none;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    text-align: center;
}

.help-button:hover {
    background-color: #00BD32;
}

.help-button a {
    color: white !important;
    text-decoration: none !important;
    font-size: 15px;
}

.pop_up {
    text-align: center;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.tutorial_text {
    margin-left: 10% !important;
    margin-right: 10% !important;
}


/*Help Button css End*/

.post-type-easy_wp_support_post #postdivrich {
    display: none !important;
}

.easy_wp_support_yoast_exlude,#menu-posts-easy_wp_support_post
{
    display: none !important;
}


